<%- include('partials/header') %>

    <%- include('partials/nav') %>

        <div class="app">
            <div class="banner-">
                <div>
                    <%- include("svg/baloon.svg") %>
                </div>
                <div>
                    <h1>404, page not found</h1>

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam deleniti optio corporis deserunt inventore ea voluptatibus dolores quis praesentium nemo.
                    </p>
                    <a href="/" class="btn-primary">
                        <i class="las la-arrow-left"></i> Retour
                    </a>
                </div>
            </div>
        </div>


        <%- include('partials/footer') %>